Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

# Create the series
numbers = pd.Series([4, 8, 15, 16, 23, 42])

# Print the series
print(numbers)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
import pandas as pd

# Create the list variable
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Create a Series from the list
my_series = pd.Series(my_list)

# Print the Series
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [3]:

# Create the dictionary containing the data
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Eve'],
    'Age': [25, 30, 35, 40, 45],
    'Gender': ['Female', 'Male', 'Male', 'Male', 'Female']
}

# Create the DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   35    Male
3     Dave   40    Male
4      Eve   45  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional, size-mutable, tabular data structure with labeled axes (rows and columns). It is similar to a spreadsheet or SQL table, and is often used to represent datasets with multiple variables (columns) and observations (rows).

On the other hand, a Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating-point numbers, Python objects, etc.). It is similar to a column in a spreadsheet or a single column in a SQL table.

The main difference between a DataFrame and a Series is that a DataFrame can contain multiple columns of data, while a Series represents a single column of data.

In [4]:


# Create a dictionary with some data
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'Gender': ['Female', 'Male', 'Male']}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Create a Series from one of the columns in the DataFrame
age_series = df['Age']

# Print the DataFrame and Series
print(df)
print(age_series)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   35    Male
0    25
1    30
2    35
Name: Age, dtype: int64

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

There are many common functions and methods available in Pandas for manipulating data in a DataFrame. Here are some examples:

head() and tail(): These methods allow you to view the first or last few rows of a DataFrame, respectively. For example, df.head() will return the first 5 rows of the DataFrame df.

describe(): This method provides summary statistics for each column in the DataFrame, such as count, mean, and standard deviation. For example, df.describe() will return a summary of the data in the DataFrame df.

dropna(): This method allows you to remove any rows or columns in the DataFrame that contain missing values. For example, df.dropna() will remove any rows in the DataFrame df that contain missing values.

groupby(): This method allows you to group the rows in the DataFrame by one or more columns, and apply a function to each group. For example, df.groupby('Gender')['Age'].mean() will group the rows in the DataFrame df by the 'Gender' column, and calculate the mean age for each group.

apply(): This method allows you to apply a function to each element in a column or row of the DataFrame. For example, df['Age'].apply(lambda x: x ** 2) will square each element in the 'Age' column of the DataFrame df.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Both Series and DataFrame are mutable in nature, meaning that you can modify their values after they have been created. Panel, on the other hand, is no longer supported in the latest versions of Pandas and has been deprecated. Instead, Pandas recommends using multi-dimensional NumPy arrays or xarray for handling three or more dimensions of data.

Q7. Create a DataFrame using multiple Series. Explain with an example.

To create a DataFrame using multiple Series, you can first create each Series and then combine them into a DataFrame using the pd.DataFrame() function.

In [6]:
# Create a Series for each column of data
names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 35])
genders = pd.Series(['Female', 'Male', 'Male'])

# Combine the Series into a DataFrame
df = pd.DataFrame({'Name': names, 'Age': ages, 'Gender': genders})

# Print the DataFrame
print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   35    Male