Q1. Write a code to print the data present in the second row of the dataframe, df.

In [ ]:
import pandas as pd

In [4]:
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [5]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [12]:
print(df.iloc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

loc is used to select rows and columns based on their labels. This means you specify the row and column labels you want to select.

iloc is used to select rows and columns based on their integer position (i.e., their index in the DataFrame). This means you specify the row and column indices you want to select.

In [13]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}, index=['X', 'Y', 'Z'])

# select rows Y and Z, and columns A and C using loc
print(df.loc[['Y', 'Z'], ['A', 'C']])

# select rows 1 and 2, and columns 0 and 2 using iloc
print(df.iloc[[1, 2], [0, 2]])

   A  C
Y  2  8
Z  3  9
   A  C
Y  2  8
Z  3  9

In [14]:
import pandas as pd
import numpy as np

# create a dataframe
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

# reindex the dataframe
reindex = [3, 0, 1, 2]
new_df = df1.reindex(reindex)

# print the original and reindexed dataframes
print("Original DataFrame:")
print(df1)
print("\nReindexed DataFrame:")
print(new_df)

Original DataFrame:
   column_1  column_2  column_3  column_4  column_5  column_6
1  0.661514  0.078231  0.849001  0.147594  0.075865  0.639063
2  0.268561  0.727937  0.024019  0.852199  0.341451  0.677273
3  0.642291  0.578815  0.239339  0.434849  0.472841  0.315567
4  0.208195  0.171188  0.477623  0.659198  0.387424  0.288236
5  0.632528  0.911783  0.288060  0.127151  0.097764  0.620469
6  0.648354  0.333981  0.665425  0.554686  0.975533  0.224753

Reindexed DataFrame:
   column_1  column_2  column_3  column_4  column_5  column_6
3  0.642291  0.578815  0.239339  0.434849  0.472841  0.315567
0       NaN       NaN       NaN       NaN       NaN       NaN
1  0.661514  0.078231  0.849001  0.147594  0.075865  0.639063
2  0.268561  0.727937  0.024019  0.852199  0.341451  0.677273

In [15]:
# get the row at index 2 using .loc
print("\nRow at index 2 using .loc:")
print(new_df.loc[2])

# get the row at index 2 using .iloc
print("\nRow at index 2 using .iloc:")
print

Row at index 2 using .loc:
column_1    0.268561
column_2    0.727937
column_3    0.024019
column_4    0.852199
column_5    0.341451
column_6    0.677273
Name: 2, dtype: float64

Row at index 2 using .iloc:

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [16]:
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

# mean of each column
print(df1.mean())

# standard deviation of column_2
print(df1['column_2'].std())

column_1    0.335364
column_2    0.442509
column_3    0.477763
column_4    0.585818
column_5    0.475677
column_6    0.416989
dtype: float64
0.3143677080696246

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [17]:
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

# replace data in second row of column_2 with a string variable
df1.loc[2, 'column_2'] = 'some string'

# find the mean of column_2
# Note: Since column_2 now contains a string value, we cannot calculate its mean and it will result in a TypeError
print(df1['column_2'].mean())

TypeError: unsupported operand type(s) for +: 'float' and 'str'

This error occurs because we are trying to calculate the mean of a column which has a mixture of numeric and non-numeric data types.

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In Pandas, a window function (also known as rolling or moving functions) is a type of function that operates on a set of defined data points called a window. It is used to perform calculations on a rolling basis on a specified number of data points. It allows us to calculate metrics such as moving averages, rolling standard deviations, and cumulative sums.

Pandas provides several types of window functions, some of which are:

Rolling: This function is used to apply a rolling calculation to a specified window size. The rolling function is commonly used to calculate rolling averages or rolling standard deviations.

Expanding: This function is used to calculate the cumulative sum or cumulative mean of the values in the specified window.

EWM (Exponentially-weighted moving): This function is used to calculate the exponentially weighted moving average of the values in the specified window.

Aggregate: This function is used to apply a specified aggregation function to the values in the specified window.

Apply: This function is used to apply a user-defined function to the values in the specified window.

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [18]:


# get the current date and time
now = pd.Timestamp.now()

# extract the month and year from the current date
current_month = now.month_name()
current_year = now.year

# print the current month and year
print("Current month and year: {} {}".format(current_month, current_year))

Current month and year: May 2023

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [ ]:
# get input from the user
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# convert the input strings to datetime objects
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# calculate the time difference between the dates
time_diff = date2 - date1

# extract the number of days, hours, and minutes from the time difference
days = time_diff.days
hours = time_diff.seconds // 3600
minutes = (time_diff.seconds // 60) % 60

# display the result
print("The time difference between {} and {} is {} days, {} hours, and {} minutes.".format(date1.date(), date2.date(), days, hours, minutes))

In [ ]:
import pandas as pd

# get input from the user
file_path = input("Enter the file path: ")
col_name = input("Enter the column name: ")
cat_order = input("Enter the category order (comma-separated): ").split(",")

# read the CSV file into a pandas dataframe
df = pd.read_csv(file_path)

# convert the specified column to categorical data type
df[col_name] = pd.Categorical(df[col_name], categories=cat_order, ordered=True)

# sort the dataframe by the specified column
df = df.sort_values(by=[col_name])

# display the sorted data
print(df)

In [ ]:
import pandas as pd

# Prompt the user for file path, column name, and category order
file_path = input("Enter the file path: ")
column_name = input("Enter the column name: ")
category_order = input("Enter the category order (comma-separated values): ").split(",")

# Read the CSV file
data = pd.read_csv(file_path)

# Convert the specified column to categorical data type
data[column_name] = pd.Categorical(data[column_name], categories=category_order, ordered=True)

# Sort the data by the specified column
sorted_data = data.sort_values(by=column_name)

# Display the sorted data
print(sorted_data)

Enter the file path:  work/Assignments/services.csv