Q-1. Explain with an example each when to usee a for loop and a while loop

A-1 . The for loop is used when we already know the number of iterations, which means when we know how many times a statement has to be executed. That is why we have to specify the ending point in the for loop initialization. When we need to end the loop on a condition other than the number of times, we use a while loop

Example for FOR loop

In [4]:
# for loop example in which we aknow the number of itiration that how many times loop runs
s = 0
n = int(input("Enter number "))
for i in range(1, n + 1, 1):
    s = s + i
print("Sum is: ", s)

Enter number  20

Sum is:  210

Example for while loop

In [11]:
# exaple for while loop 
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i = i + 1

1
2
3

Q-2 python program to print the sum and product of first 10 natural numbers using for loop and while loop

In [8]:
# using for loop sum of the first 10 natural numbers 
s = 0
n = int(input("Enter number "))
for i in range(1, n + 1, 1):
    s = s + i
print("Sum is: ", s)

Enter number  10

Sum is:  55

In [10]:
n = 1
for i in range(1, 11, 1):
    product = n * i
    print(product)

1
2
3
4
5
6
7
8
9
10

In [1]:
i = 1
while i < 11:
  print(i)
  if i == 10:
    break
  i = i + 1

1
2
3
4
5
6
7
8
9
10

Q 3 . electricity bill payment

In [2]:
# correct programm 

i = int(input("Your consumed Units = "))

if i <= 100:
    print("Total Amount to pay =", 4.5*i)
elif i <=200:
    print("Total Amount to pay=", 4.5*100 + (i-100)*6)
elif i <= 300:
    print("Total Amount to pay=", 4.5*100 +(200-100)*6 + (i-200)*10)
elif i >300 :
    print("\n Total amount to pay=", 4.5*100 +(200-100)*6 + (300-200)*10 + (i-300)*20)
else :
    print("")

Your consumed Units =  310

 Total amount to pay= 2250.0

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [54]:
i = []
for n in range(1, 100):
    s=n**3
    if s%4 == 0 or s%5 == 0:
         i.append(s)
print(i)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192]

In [39]:
i=1
while i < 100 :
    l=i**3
    if l%4 == 0 or l%5 == 0:
        print(l)
    i = i + 1

8
64
125
216
512
1000
1728
2744
3375
4096
5832
8000
10648
13824
15625
17576
21952
27000
32768
39304
42875
46656
54872
64000
74088
85184
91125
97336
110592
125000
140608
157464
166375
175616
195112
216000
238328
262144
274625
287496
314432
343000
373248
405224
421875
438976
474552
512000
551368
592704
614125
636056
681472
729000
778688
830584
857375
884736
941192

Q5. Write a program to filter count vowels in the below-given string.

string = "I want to become a data scientist"

In [57]:
s = "I want to become a data scientist"
for i in s:
      if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
            print(i,end=" ")

I a o e o e a a a i e i